.App {
  align-items: center;
  justify-content: center;
  height: 100vh;
  display: flex;
}

.border {
  width: 600px;
  height: 500px;
  border: 1px solid grey;
  position: relative;
}

.add {
  width: 30px;
  height: 30px;
}


